# Build artifacts
0.1/
__pycache__/
*.pyc
*.spec
build/
dist/
*.exe

# Logs & data
*.log
rog/
rog.txt
ollama_translator_config.json

# Generated folders
untranslated/
checkpoint/
glossary/
localisation/
